// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
// BoatnBoat
$blue-principle: #548FC4;
$blue-hover: #0F3596;
$beige: #F3F6E7;
$blue-black: #343F52;
$blue-grey: #030A1C;
