<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <%= image_tag "Logo-BoatNBoatBlue", alt: "Logo-BoatNBoatBlue", id: "logo" %>
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/boats">Collection</a>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c7106aff-813c-448c-a7ba-5060bc1aeafb/df5lada-8bac046f-6848-46d6-99e5-38ffcefc0f59.png/v1/fill/w_894,h_894,q_70,strp/captain_haddock_by_sharkdreamcreations_df5lada-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTA4MCIsInBhdGgiOiJcL2ZcL2M3MTA2YWZmLTgxM2MtNDQ4Yy1hN2JhLTUwNjBiYzFhZWFmYlwvZGY1bGFkYS04YmFjMDQ2Zi02ODQ4LTQ2ZDYtOTllNS0zOGZmY2VmYzBmNTkucG5nIiwid2lkdGgiOiI8PTEwODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.jihQXTGroPEhbCfjIBO1QyGDDehklAJUzYOsK-oqhp0" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="/boats/new">Add a boat</a>
              <% if current_user.nil? %>
                <a class="dropdown-item" href="/users/sign_in">Log in</a>
              <% else %>
                <a class="dropdown-item" data-turbo-method="delete" href="/users/sign_out">Log out</a>
              <% end %>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
