.btn-flat {
  color: #F3F6E7;
  padding: 8px 24px;
  border-radius: 4px;
  background: #5591C5;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #0F3596;
  color: #F3F6E7;
}

.btn-show {
  max-width: 300px;
  display: flex;
  justify-content: center;
}
