<div class= container>
<%# cards grid %>
  <div class="cards mt-5">
    <% @boats.each do |boat| %>
      <%# card structure %>
      <div class="card-trip">
        <img src= <%=boat.picture_url%> />
          <div class="card-trip-infos">
          <div>
            <h2><%= link_to boat.name, boat_path(boat) %></h2>
            <p><%=  boat.description %></p>
          </div>
            <h2 class="card-trip-pricing"><%= boat.price %>€</h2>
        </div>
      </div>
    <% end %>
  </div>
</div>
