<div class="container">
  <h1 class="my-4">Bienvenu sur la show</h1>
        <h2><%= @boat.name %></h2>
        <ul>
          <li><%= @boat.category %></li>
          <li><%= @boat.price %></li>
        </ul>
</div>
